{% extends 'music/base.html' %}
{% block title %} Song Details {% endblock %}

{% block body %}
    <!-- string representation just comes in {{album}} -->
    <img src="{{ album.album_logo.url }}"/>
    <h1> {{ album.album_title }} </h1>
    <h3> {{ album.artist}} </h3>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
        <form action="#" method="post">
            {% for song in album.song_set.all %}
                {% csrf_token %}
                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
                <label for="song{{ forloop.counter }}">{{ song.song_title }}
                    {% if song.is_favorite %}
                        <img src="https://cdn2.vectorstock.com/i/1000x1000/35/71/isolated-yellow-star-icon-ranking-mark-vector-19283571.jpg" width="16" height="16"/>
                    {% endif %}
                </label><br/>
            {% endfor %}
            <input type="submit" value="Favorite"/>
        </form>

{% endblock %}